<app-nav-bar></app-nav-bar>

<div class="main">
    <div class="content">
        <div class="container_12">
            <div class="grid_5 down">           
                <h3>Search available trips by entering your pick-up point and your destination</h3>\
                <form id="bookingForm">
                    <div class="fl1">
                        <div class="tmInput">
                            <input name="From" placeHolder="From:" type="text" data-constraints="@NotEmpty @Required ">
                        </div>
                    </div>
                    <div class="fl1">
                        <div class="tmInput mr0">
                            <input name="To" placeHolder="To:" type="text" data-constraints="@NotEmpty @Required">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                    <a href="#" class="btn" data-type="submit">Submit</a>
                </form>
                <h3>Choose from avilable trips</h3>
            </div>
            <h3>Available Stations</h3>
            <div class="grid_6 prefix_1" *ngFor="let station of stations">            
                <a href="index2.html" class="type"><span class="type type_caption">{{ station.name }}</span></a>
                <br>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>