<app-nav-bar></app-nav-bar>

<div class="main">
    <div class="content">
        <h1>Select your seat</h1>
        <div class="containerbus">
            <!-- Squared ONE -->
            <div class="autobus">

                <div class="fila">
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat1" name="check" />
                            <label for="seat1">1</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat2" name="check" />
                            <label for="seat2">2</label>
                        </div>
                    </div>
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat3" name="check" />
                            <label for="seat3">3</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat4" name="check" />
                            <label for="seat4">4</label>
                        </div>
                    </div>
                </div>

                <div class="fila">
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat5" name="check" />
                            <label for="seat5">5</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat6" name="check" />
                            <label for="seat6">6</label>
                        </div>
                    </div>
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat7" name="check" />
                            <label for="seat7">7</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat8" name="check" />
                            <label for="seat8">8</label>
                        </div>
                    </div>
                </div>

                <div class="fila">
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat9" name="check" />
                            <label for="seat9">9</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat10" name="check" />
                            <label for="seat10">10</label>
                        </div>
                    </div>
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat11" name="check" />
                            <label for="seat11">11</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat12" name="check" />
                            <label for="seat12">12</label>
                        </div>
                    </div>
                </div>

                <div class="fila">
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat13" name="check" />
                            <label for="seat13">13</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat14" name="check" />
                            <label for="seat14">14</label>
                        </div>
                    </div>
                    <div class="section">
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat15" name="check" />
                            <label for="seat15">15</label>
                        </div>
                        <div class="seat">
                            <input type="checkbox" value="None" id="seat16" name="check" />
                            <label for="seat16">16</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>