<div class="menu_block ">
  <div class="container_12">
      <div class="grid_12">
          <nav class="horizontal-nav full-width horizontalNav-notprocessed">
              <ul class="sf-menu">
                  <li class="current"><a routerLink="/">Home</a></li>
                  <li><a routerLink="login" *ngIf="!loggedIn">Login</a></li>
                  <li><a href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a></li>
              </ul>
          </nav>
          <div class="clear"></div>
      </div>
      <div class="clear"></div>
  </div>
</div>