.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.footer p {
	font-size: 0.875rem;
}

.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
    background-color: black;
	text-align: center;
}

.copyright p {
	color: white;
}