.footer {
	background-color: black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.footer .text-container {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 0.75rem;
	color: #fff;
}

.footer p,
.footer ul {
	font-size: 0.875rem;
	line-height: 1.375rem;
}

.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background-color: black;
	text-align: center;
}


#wrapper {
    height: 1000px;
    position: relative;
}

.copyright p,
.copyright a {
	color: white;
	text-decoration: none;
}